In [165]:
#Import essential libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [166]:
#Get the data from drive by mounthing the drive
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [167]:
#Unzip the dataset
!unzip '/content/drive/MyDrive/Datasets/Mobile_dataSet.csv.zip'

Archive:  /content/drive/MyDrive/Datasets/Mobile_dataSet.csv.zip
replace Mobile_dataSet.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename:

In [207]:
#Read the data
df=pd.read_csv('/content/Mobile_dataSet.csv')

In [208]:
df.head()

,Unnamed: 0,Model,Mrp,Rating,Review,Specs
0,0,"Infinix HOT 20 Play (Luna Blue, 64 GB)","₹8,199",4.3,505 Ratings & 52 Reviews,4 GB RAM | 64 GB ROM | Expandable Upto 256 GB
1,1,"MOTOROLA e40 (Carbon Gray, 64 GB)","₹7,999",4.1,"56,085 Ratings & 5,600 Reviews",4 GB RAM | 64 GB ROM | Expandable Upto 1 TB
2,2,"POCO C31 (Shadow Gray, 64 GB)","₹7,499",4.3,"1,83,688 Ratings & 11,185 Reviews",4 GB RAM | 64 GB ROM | Expandable Upto 512 GB
3,3,"REDMI 9i Sport (Coral Green, 64 GB)","₹7,199",4.3,"2,09,377 Ratings & 12,027 Reviews",4 GB RAM | 64 GB ROM | Expandable Upto 512 GB
4,4,"SAMSUNG Galaxy F23 5G (Aqua Blue, 128 GB)","₹14,999",4.3,"1,37,778 Ratings & 11,213 Reviews",6 GB RAM | 128 GB ROM | Expandable Upto 1 TB

In [209]:
range(len(df['Model']))

range(0, 28752)

In [210]:
#Data lookes very noisy so we will get the important features from this dataset

#Firstly, we will get the company name from the model



df['company']=df['Model'].apply(lambda x: x.split(' ')[0])

In [211]:
df.head()

,Unnamed: 0,Model,Mrp,Rating,Review,Specs,company
0,0,"Infinix HOT 20 Play (Luna Blue, 64 GB)","₹8,199",4.3,505 Ratings & 52 Reviews,4 GB RAM | 64 GB ROM | Expandable Upto 256 GB,Infinix
1,1,"MOTOROLA e40 (Carbon Gray, 64 GB)","₹7,999",4.1,"56,085 Ratings & 5,600 Reviews",4 GB RAM | 64 GB ROM | Expandable Upto 1 TB,MOTOROLA
2,2,"POCO C31 (Shadow Gray, 64 GB)","₹7,499",4.3,"1,83,688 Ratings & 11,185 Reviews",4 GB RAM | 64 GB ROM | Expandable Upto 512 GB,POCO
3,3,"REDMI 9i Sport (Coral Green, 64 GB)","₹7,199",4.3,"2,09,377 Ratings & 12,027 Reviews",4 GB RAM | 64 GB ROM | Expandable Upto 512 GB,REDMI
4,4,"SAMSUNG Galaxy F23 5G (Aqua Blue, 128 GB)","₹14,999",4.3,"1,37,778 Ratings & 11,213 Reviews",6 GB RAM | 128 GB ROM | Expandable Upto 1 TB,SAMSUNG

In [212]:
#Now get the RAM of the phone from the specs column

df['Specs'].str.split('| ')[0][1]

'4'

In [213]:
#Now apply the lambda function with multi-split to extract RAM

df['Ram']=df['Specs'].apply(lambda x: x.split('|')[0])

In [214]:
df['Ram'].str.split(' ')[0][0]

'4'

In [215]:
#Now again apply the split for specific integer

df['Ram_size']=df['Ram'].apply(lambda x: x.split(' ')[0])

In [216]:
df.head()

,Unnamed: 0,Model,Mrp,Rating,Review,Specs,company,Ram,Ram_size
0,0,"Infinix HOT 20 Play (Luna Blue, 64 GB)","₹8,199",4.3,505 Ratings & 52 Reviews,4 GB RAM | 64 GB ROM | Expandable Upto 256 GB,Infinix,4 GB RAM,4
1,1,"MOTOROLA e40 (Carbon Gray, 64 GB)","₹7,999",4.1,"56,085 Ratings & 5,600 Reviews",4 GB RAM | 64 GB ROM | Expandable Upto 1 TB,MOTOROLA,4 GB RAM,4
2,2,"POCO C31 (Shadow Gray, 64 GB)","₹7,499",4.3,"1,83,688 Ratings & 11,185 Reviews",4 GB RAM | 64 GB ROM | Expandable Upto 512 GB,POCO,4 GB RAM,4
3,3,"REDMI 9i Sport (Coral Green, 64 GB)","₹7,199",4.3,"2,09,377 Ratings & 12,027 Reviews",4 GB RAM | 64 GB ROM | Expandable Upto 512 GB,REDMI,4 GB RAM,4
4,4,"SAMSUNG Galaxy F23 5G (Aqua Blue, 128 GB)","₹14,999",4.3,"1,37,778 Ratings & 11,213 Reviews",6 GB RAM | 128 GB ROM | Expandable Upto 1 TB,SAMSUNG,6 GB RAM,6

In [217]:
#Now lets grab the Memory size

df['Model'].str.split(',')[0][0:3]

['Infinix HOT 20 Play (Luna Blue', ' 64 GB)']

In [218]:
#Apply the lambda function

df['Rom']=df['Model'].apply(lambda x: x.split(',')[-1])

#Split again for specific integer

df['Rom']=df['Rom'].apply(lambda x: x.split(" ")[1])

In [219]:
df.head()

,Unnamed: 0,Model,Mrp,Rating,Review,Specs,company,Ram,Ram_size,Rom
0,0,"Infinix HOT 20 Play (Luna Blue, 64 GB)","₹8,199",4.3,505 Ratings & 52 Reviews,4 GB RAM | 64 GB ROM | Expandable Upto 256 GB,Infinix,4 GB RAM,4,64
1,1,"MOTOROLA e40 (Carbon Gray, 64 GB)","₹7,999",4.1,"56,085 Ratings & 5,600 Reviews",4 GB RAM | 64 GB ROM | Expandable Upto 1 TB,MOTOROLA,4 GB RAM,4,64
2,2,"POCO C31 (Shadow Gray, 64 GB)","₹7,499",4.3,"1,83,688 Ratings & 11,185 Reviews",4 GB RAM | 64 GB ROM | Expandable Upto 512 GB,POCO,4 GB RAM,4,64
3,3,"REDMI 9i Sport (Coral Green, 64 GB)","₹7,199",4.3,"2,09,377 Ratings & 12,027 Reviews",4 GB RAM | 64 GB ROM | Expandable Upto 512 GB,REDMI,4 GB RAM,4,64
4,4,"SAMSUNG Galaxy F23 5G (Aqua Blue, 128 GB)","₹14,999",4.3,"1,37,778 Ratings & 11,213 Reviews",6 GB RAM | 128 GB ROM | Expandable Upto 1 TB,SAMSUNG,6 GB RAM,6,128

In [220]:
df['Mrp'][0].replace('₹','')

'8,199'

In [221]:
#Now lets grab the only Price with out ₹ sign by using replace function

df['Mrp']=df['Mrp'].apply(lambda x: x.replace('₹',''))
df['Mrp']=df['Mrp'].apply(lambda x: x.replace(',',''))
df.head()

,Unnamed: 0,Model,Mrp,Rating,Review,Specs,company,Ram,Ram_size,Rom
0,0,"Infinix HOT 20 Play (Luna Blue, 64 GB)",8199,4.3,505 Ratings & 52 Reviews,4 GB RAM | 64 GB ROM | Expandable Upto 256 GB,Infinix,4 GB RAM,4,64
1,1,"MOTOROLA e40 (Carbon Gray, 64 GB)",7999,4.1,"56,085 Ratings & 5,600 Reviews",4 GB RAM | 64 GB ROM | Expandable Upto 1 TB,MOTOROLA,4 GB RAM,4,64
2,2,"POCO C31 (Shadow Gray, 64 GB)",7499,4.3,"1,83,688 Ratings & 11,185 Reviews",4 GB RAM | 64 GB ROM | Expandable Upto 512 GB,POCO,4 GB RAM,4,64
3,3,"REDMI 9i Sport (Coral Green, 64 GB)",7199,4.3,"2,09,377 Ratings & 12,027 Reviews",4 GB RAM | 64 GB ROM | Expandable Upto 512 GB,REDMI,4 GB RAM,4,64
4,4,"SAMSUNG Galaxy F23 5G (Aqua Blue, 128 GB)",14999,4.3,"1,37,778 Ratings & 11,213 Reviews",6 GB RAM | 128 GB ROM | Expandable Upto 1 TB,SAMSUNG,6 GB RAM,6,128

In [222]:
#Now we grabed every thing according to need now drop the other columns

df.drop(['Unnamed: 0','Model','Review','Specs','Ram'],axis=1,inplace=True)

df.head()

     Mrp  Rating   company Ram_size  Rom
0   8199     4.3   Infinix        4   64
1   7999     4.1  MOTOROLA        4   64
2   7499     4.3      POCO        4   64
3   7199     4.3     REDMI        4   64
4  14999     4.3   SAMSUNG        6  128

In [223]:
#Now check Description for statistics
df.describe()

             Rating
count  28040.000000
mean       4.232418
std        0.210583
min        2.700000
25%        4.100000
50%        4.200000
75%        4.400000
max        4.700000

In [224]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28752 entries, 0 to 28751
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Mrp       28752 non-null  object
 1   Rating    28040 non-null  float64
 2   company   28752 non-null  object
 3   Ram_size  28752 non-null  object
 4   Rom       28752 non-null  object
dtypes: float64(1), object(4)
memory usage: 1.1+ MB

In [225]:
#Let's check for null values
df.isnull().sum()

Mrp           0
Rating      712
company       0
Ram_size      0
Rom           0
dtype: int64

In [226]:
#Now we fill this Rating column null values with SKlearn simple imputer 
#Or remove these values becuase these cannot be filled by looking at any other column or with mean,median,mode this will effect our model later
#Remove

df.dropna(inplace=True)
df.isnull().sum()

Mrp         0
Rating      0
company     0
Ram_size    0
Rom         0
dtype: int64

In [227]:
#Now let's check the unique values of Ram Size
df['Ram_size'].unique()

array(['4', '6', '128', '2', '8', '32', '3', '64', '256', '0', 'NA', '31',
       '30', '12', '153', '24', '56', 'Expandable', '0.53', '512', '10',
       '6.6', '20'], dtype=object)

In [228]:
#Let's calculate the unexpected values
len(df[df['Ram_size']=='Expandable'])+len(df[df['Ram_size']=='NA'])+len(df[df['Ram_size']=='0'])

663

In [229]:
#These are only few values so we can remove these
df.drop(df[df['Ram_size']=='Expandable'].index,inplace=True)

In [230]:
df.drop(df[df['Ram_size']=='0'].index,inplace=True)
df.drop(df[df['Ram_size']=='NA'].index,inplace=True)

In [231]:
df['Ram_size'].unique()

array(['4', '6', '128', '2', '8', '32', '3', '64', '256', '31', '30',
       '12', '153', '24', '56', '0.53', '512', '10', '6.6', '20'],
      dtype=object)

In [232]:
#Let's check for Rom if any wrong value
df['Rom'].unique()

array(['64', '128', '32', '105', '256', 'A3', 'GURU', '150', 'X412',
       'It2171', 'KX3', 'X415', 'Flip', '110', 'Ace2', 'X512', 'X708',
       'a70', 'Hero', 'Gem', 'A1', 'Guru', 'K112', 'F1', '34', 'Contact',
       'Ferrari', 'Star', 'M5000', 'Ace', 'V8', 'it2175', 'X818', 'X513+',
       'K28', 'Power', 'M1', '125', 'IT5626', 'TA-1304/105', 'J2',
       'K106s', 'it2163S', 'Hardcase', 'K66', 'A26', 'K115',
       'TA-1010/105', 'K55', 'A5', 'J22', 'Coral', 'K9', 'X755', 'Magic3',
       'K33', 'X746', 'U20', 'One', 'a50', 'Muzik', 'X413', 'S115',
       'BOLD', 'Rock', 'X756', 'K200', '105DS', 'Metro', 'K310i', 'MT322',
       'by', 'it5026', 'B310', 'K140', 'IT2163', 'X778', 'K05', 'LF9000',
       'R3+', 'K-22', 'K10', 'X416', 'M380', 'K16', 'X389', 'MagicX',
       'A9', '512', 'X809', 'IT5026'], dtype=object)

In [233]:
len(df[df['Rom']=='64'])+len(df[df['Rom']=='128'])+len(df[df['Rom']=='32'])+len(df[df['Rom']=='105'])+len(df[df['Rom']=='256'])+len(df[df['Rom']=='150'])+len(df[df['Rom']=='110'])+len(df[df['Rom']=='34'])+len(df[df['Rom']=='125'])+len(df[df['Rom']=='512'])

22441

In [234]:
df.drop(df[df['Rom']=='A3'].index,inplace=True)
df.drop(df[df['Rom']=='GURU'].index,inplace=True)
df.drop(df[df['Rom']=='X412'].index,inplace=True)
df.drop(df[df['Rom']=='It2171'].index,inplace=True)
df.drop(df[df['Rom']=='KX3'].index,inplace=True)
df.drop(df[df['Rom']=='X415'].index,inplace=True)
df.drop(df[df['Rom']=='Flip'].index,inplace=True)
df.drop(df[df['Rom']=='Ace2'].index,inplace=True)
df.drop(df[df['Rom']=='X512'].index,inplace=True)
df.drop(df[df['Rom']=='X708'].index,inplace=True)
df.drop(df[df['Rom']=='Hero'].index,inplace=True)
df.drop(df[df['Rom']=='Gem'].index,inplace=True)
df.drop(df[df['Rom']=='Guru'].index,inplace=True)
df.drop(df[df['Rom']=='K112'].index,inplace=True)
df.drop(df[df['Rom']=='F1'].index,inplace=True)
df.drop(df[df['Rom']=='Contact'].index,inplace=True)
df.drop(df[df['Rom']=='Ferrari'].index,inplace=True)
df.drop(df[df['Rom']=='Star'].index,inplace=True)
df.drop(df[df['Rom']=='M5000'].index,inplace=True)
df.drop(df[df['Rom']=='Ace'].index,inplace=True)
df.drop(df[df['Rom']=='V8'].index,inplace=True)
df.drop(df[df['Rom']=='it2175'].index,inplace=True)
df.drop(df[df['Rom']=='X818'].index,inplace=True)
df.drop(df[df['Rom']=='X513+'].index,inplace=True)
df.drop(df[df['Rom']=='K28'].index,inplace=True)
df.drop(df[df['Rom']=='Power'].index,inplace=True)
df.drop(df[df['Rom']=='M1'].index,inplace=True)
df.drop(df[df['Rom']=='IT5626'].index,inplace=True)
df.drop(df[df['Rom']=='TA-1304/105'].index,inplace=True)
df.drop(df[df['Rom']=='J2'].index,inplace=True)
df.drop(df[df['Rom']=='K106s'].index,inplace=True)
df.drop(df[df['Rom']=='it2163S'].index,inplace=True)
df.drop(df[df['Rom']=='Hardcase'].index,inplace=True)
df.drop(df[df['Rom']=='K66'].index,inplace=True)
df.drop(df[df['Rom']=='A26'].index,inplace=True)
df.drop(df[df['Rom']=='K115'].index,inplace=True)
df.drop(df[df['Rom']=='TA-1010/105'].index,inplace=True)
df.drop(df[df['Rom']=='K55'].index,inplace=True)
df.drop(df[df['Rom']=='A5'].index,inplace=True)
df.drop(df[df['Rom']=='J22'].index,inplace=True)
df.drop(df[df['Rom']=='Coral'].index,inplace=True)
df.drop(df[df['Rom']=='K9'].index,inplace=True)
df.drop(df[df['Rom']=='X755'].index,inplace=True)
df.drop(df[df['Rom']=='Magic3'].index,inplace=True)
df.drop(df[df['Rom']=='K33'].index,inplace=True)
df.drop(df[df['Rom']=='X746'].index,inplace=True)
df.drop(df[df['Rom']=='U20'].index,inplace=True)
df.drop(df[df['Rom']=='One'].index,inplace=True)
df.drop(df[df['Rom']=='a50'].index,inplace=True)
df.drop(df[df['Rom']=='Muzik'].index,inplace=True)
df.drop(df[df['Rom']=='X413'].index,inplace=True)
df.drop(df[df['Rom']=='S115'].index,inplace=True)
df.drop(df[df['Rom']=='BOLD'].index,inplace=True)
df.drop(df[df['Rom']=='Rock'].index,inplace=True)
df.drop(df[df['Rom']=='X756'].index,inplace=True)
df.drop(df[df['Rom']=='K200'].index,inplace=True)
df.drop(df[df['Rom']=='105DS'].index,inplace=True)
df.drop(df[df['Rom']=='Metro'].index,inplace=True)
df.drop(df[df['Rom']=='K310i'].index,inplace=True)
df.drop(df[df['Rom']=='MT322'].index,inplace=True)

df.drop(df[df['Rom']=='by'].index,inplace=True)
df.drop(df[df['Rom']=='it5026'].index,inplace=True)
df.drop(df[df['Rom']=='X778'].index,inplace=True)
df.drop(df[df['Rom']=='IT2163'].index,inplace=True)
df.drop(df[df['Rom']=='K05'].index,inplace=True)
df.drop(df[df['Rom']=='LF9000'].index,inplace=True)
df.drop(df[df['Rom']=='B310'].index,inplace=True)
df.drop(df[df['Rom']=='K140'].index,inplace=True)
df.drop(df[df['Rom']=='R3+'].index,inplace=True)
df.drop(df[df['Rom']=='K-22'].index,inplace=True)
df.drop(df[df['Rom']=='K10'].index,inplace=True)
df.drop(df[df['Rom']=='X416'].index,inplace=True)
df.drop(df[df['Rom']=='M380'].index,inplace=True)
df.drop(df[df['Rom']=='K16'].index,inplace=True)
df.drop(df[df['Rom']=='X389'].index,inplace=True)
df.drop(df[df['Rom']=='MagicX'].index,inplace=True)
df.drop(df[df['Rom']=='A9'].index,inplace=True)
df.drop(df[df['Rom']=='X809'].index,inplace=True)
df.drop(df[df['Rom']=='IT5026'].index,inplace=True)

In [235]:
#Let's check for Rom if any wrong value
df['Rom'].unique()

array(['64', '128', '32', '105', '256', '150', '110', 'a70', 'A1', '34',
       '125', '512'], dtype=object)

In [236]:
df.drop(df[df['Rom']=='a70'].index,inplace=True)
df.drop(df[df['Rom']=='A1'].index,inplace=True)

In [237]:
df['Rom'].unique()

array(['64', '128', '32', '105', '256', '150', '110', '34', '125', '512'],
      dtype=object)

In [238]:
df.head()

     Mrp  Rating   company Ram_size  Rom
0   8199     4.3   Infinix        4   64
1   7999     4.1  MOTOROLA        4   64
2   7499     4.3      POCO        4   64
3   7199     4.3     REDMI        4   64
4  14999     4.3   SAMSUNG        6  128

In [239]:
#First we need to change the object types into int or float for our model

df['Mrp']=df['Mrp'].astype('int64')
df['Ram_size']=df['Ram_size'].astype('int64')
df['Rom']=df['Rom'].astype('int64')

In [251]:
df.company.unique()

array(['Infinix', 'MOTOROLA', 'POCO', 'REDMI', 'SAMSUNG', 'realme',
       'APPLE', 'vivo', 'Nokia', 'OPPO', 'Realme', 'Google', 'OnePlus',
       'Nothing', 'Tecno', 'IQOO', 'LAVA', 'Redmi', 'itel', 'Xiaomi',
       'Micromax', 'ASUS', 'Moto', 'Mi', '10'], dtype=object)

In [252]:
df.drop(df[df['company']=='10'].index,inplace=True)

In [253]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22420 entries, 0 to 28750
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Mrp       22420 non-null  int64
 1   Rating    22420 non-null  float64
 2   company   22420 non-null  object
 3   Ram_size  22420 non-null  int64
 4   Rom       22420 non-null  int64
dtypes: float64(1), int64(3), object(1)
memory usage: 1.0+ MB

In [254]:
#Divide into dependent and independent
x=df.drop(['Mrp'],axis=1)
y=df['Mrp']

In [255]:
x

       Rating   company  Ram_size  Rom
0         4.3   Infinix         4   64
1         4.1  MOTOROLA         4   64
2         4.3      POCO         4   64
3         4.3     REDMI         4   64
4         4.3   SAMSUNG         6  128
...       ...       ...       ...  ...
28745     4.2     Redmi         3   32
28746     4.5      POCO         6   64
28747     4.4      OPPO         4  128
28748     4.3     Tecno         4   64
28750     3.5     REDMI         6  128

[22420 rows x 4 columns]

In [256]:
#Apply one hot encoder for encoding
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
ct=ColumnTransformer(transformers=[('encoder',OneHotEncoder(),[1])],remainder='passthrough')
x=ct.fit_transform(x)

In [257]:
x

<22420x27 sparse matrix of type '<class 'numpy.float64'>'
	with 89680 stored elements in Compressed Sparse Row format>

In [258]:
#Build method with leanear regression
#Spliting
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3)

In [259]:
#model building
from sklearn.linear_model import LinearRegression
lr_model=LinearRegression()

In [260]:
lr_model.fit(x_train,y_train)

LinearRegression()

In [261]:
lr_model.score(x_test,y_test)

0.8325404023022793

In [262]:
lr_prediction=lr_model.predict(x_test)